.transition-all {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.background-cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.serif {
  font-family: 'Lora', 'Times New Roman', serif;
}
.sans-serif {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.animation,
.article-container {
  animation: bodyshow 0.9s linear;
}
@-moz-keyframes 'bodyshow' {
  0% {
    top: -60px;
    opacity: 0;
  }
  33% {
    top: -40px;
    opacity: 0.2;
  }
  66% {
    top: -20px;
    opacity: 0.6;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
@-webkit-keyframes 'bodyshow' {
  0% {
    top: -60px;
    opacity: 0;
  }
  33% {
    top: -40px;
    opacity: 0.2;
  }
  66% {
    top: -20px;
    opacity: 0.6;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
@-o-keyframes 'bodyshow' {
  0% {
    top: -60px;
    opacity: 0;
  }
  33% {
    top: -40px;
    opacity: 0.2;
  }
  66% {
    top: -20px;
    opacity: 0.6;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
@keyframes 'bodyshow' {
  0% {
    top: -60px;
    opacity: 0;
  }
  33% {
    top: -40px;
    opacity: 0.2;
  }
  66% {
    top: -20px;
    opacity: 0.6;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
.article-entry pre,
.article-entry .highlight {
  background: #2d2d2d;
  padding: 15px article-padding;
  border-style: solid;
  border-color: color-border;
  border-width: 1px 0;
  overflow: auto;
  color: #ccc;
  line-height: 0.85em;
}
.article-entry .highlight .gutter pre,
.article-entry .gist .gist-file .gist-data .line-numbers {
  color: #666;
  font-size: 0.85em;
}
.article-entry pre,
.article-entry code {
  font-family: font-mono;
}
.article-entry code {
  background: color-background;
  text-shadow: 0 1px #fff;
  padding: 0 0.3em;
}
.article-entry pre code {
  background: none;
  text-shadow: none;
  padding: 0;
}
.article-entry .highlight pre {
  border: none;
  margin: 0;
  padding: 0;
}
.article-entry .highlight table {
  margin: 0;
  width: auto;
}
.article-entry .highlight td {
  border: none;
  padding: 0;
}
.article-entry .highlight figcaption {
  font-size: 0.85em;
  color: #746f6f;
  line-height: 1em;
  margin-bottom: 1em;
}
.article-entry .highlight figcaption a {
  float: right;
}
.article-entry .highlight .gutter pre {
  text-align: right;
  padding-right: 20px;
}
.article-entry .highlight .line {
  height: 0.85em;
}
.article-entry .highlight .line.marked {
  background: #515151;
}
.article-entry .gist {
  border-style: solid;
  border-color: color-border;
  border-width: 1px 0;
  background: #2d2d2d;
  padding: 15px article-padding 15px 0;
}
.article-entry .gist .gist-file {
  border: none;
  font-family: font-mono;
  margin: 0;
}
.article-entry .gist .gist-file .gist-data {
  background: none;
  border: none;
}
.article-entry .gist .gist-file .gist-data .line-numbers {
  background: none;
  border: none;
  padding: 0 20px 0 0;
}
.article-entry .gist .gist-file .gist-data .line-data {
  padding: 0 !important;
}
.article-entry .gist .gist-file .highlight {
  margin: 0;
  padding: 0;
  border: none;
}
.article-entry .gist .gist-file .gist-meta {
  background: #2d2d2d;
  color: #746f6f;
  font: 0.85em font-sans;
  text-shadow: 0 0;
  padding: 0;
  margin-top: 1em;
  margin-left: article-padding;
}
.article-entry .gist .gist-file .gist-meta a {
  color: color-link;
  font-weight: normal;
}
.article-entry .gist .gist-file .gist-meta a:hover {
  text-decoration: underline;
}
article .container .row img {
  position: relative;
  left: 25%;
  margin: 30px auto;
  max-width: 55% !important;
  height: auto;
  display: inline-block;
  box-shadow: 0 0 0 5px #fff, 0 0 15px 0 #000;
}
@media only screen and (max-width: 768px) {
  article .container .row img {
    left: 10%;
    max-width: 80% !important;
  }
}
article .container .row .video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
article .container .row .video-container iframe,
article .container .row .video-container object,
article .container .row .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: 0;
}
article .container .row blockquote {
  font-family: font-serif;
  font-size: 1em;
  padding: 3px 30px 15px;
  color: #808080;
  text-align: left;
}
article .container .row blockquote footer {
  border-top: none;
  font-size: 0.8em;
  line-height: 1;
  margin: 20px 0 0;
  padding-top: 0;
}
article .container .row blockquote footer cite:before {
  content: '—';
  color: #ccc;
  padding: 0 0.5em;
}
article .container .row .pullquote {
  float: right;
  border: none;
  padding: 0;
  margin: 1em 0 0.5em 1.5em;
  text-align: left;
  width: 45%;
  font-size: 1.5em;
}
article .container .row .pullquote.left {
  float: left;
}
figure.highlight {
  background: #f1f1f1;
  border: 1px solid color-border;
  margin-top: 15px;
  padding: 7px 15px;
  border-radius: 2px;
  text-shadow: 0 0 1px #fff;
  line-height: 1.6;
  overflow: auto;
  position: relative;
  font-size: 0.9em;
}
figure.highlight figcaption {
  color: color-meta;
  font-family: font-mono;
  margin-bottom: 5px;
  text-shadow: 0 0 1px #fff;
}
figure.highlight figcaption a {
  position: absolute;
  right: 15px;
}
figure.highlight pre {
  border: none;
  padding: 0;
  margin: 0;
  background: none;
}
figure.highlight table {
  margin-top: 0;
  border-spacing: 0;
}
figure.highlight table .gutter {
  color: color-meta;
  padding-right: 15px;
  border-right: 1px solid color-border;
  text-align: right;
}
figure.highlight table .code {
  padding-left: 15px;
  border-left: 1px solid #fff;
  color: #666;
}
figure.highlight table .line {
  height: 20px;
}
figure.highlight table .line.marked {
  background: #d6d6d6;
}
pre .comment,
pre .title {
  color: #746f6f;
}
pre .variable,
pre .attribute,
pre .tag,
pre .regexp,
pre .ruby .constant,
pre .xml .tag .title,
pre .xml .pi,
pre .xml .doctype,
pre .html .doctype,
pre .css .id,
pre .css .class,
pre .css .pseudo {
  color: #ca1243;
}
pre .number,
pre .preprocessor,
pre .built_in,
pre .literal,
pre .params,
pre .constant {
  color: #986801;
}
pre .class,
pre .ruby .class .title,
pre .css .rules .attribute {
  color: #50a14f;
}
pre .string,
pre .value,
pre .inheritance,
pre .header,
pre .ruby .symbol,
pre .xml .cdata {
  color: #50a14f;
}
pre .css .hexcolor {
  color: #3b8a07;
}
pre .function,
pre .python .decorator,
pre .python .title,
pre .ruby .function .title,
pre .ruby .title .keyword,
pre .perl .sub,
pre .javascript .title,
pre .coffeescript .title {
  color: #4078f2;
}
pre .keyword,
pre .javascript .function {
  color: #a626a4;
}
